<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>ToDo</h1>
</div>

<!-- エラーメッセージ表示 -->
<div class="errorMessages" th:each="errorMessage : ${errorMessages}">
    <span th:text="${errorMessage}"/>
</div>

<!-- 本日の日付表示 -->
<div>
    本日の日付：<span th:text="${#temporals.format(today, 'yyyy/MM/dd')}"></span>
</div>

<!-- 新規タスク -->
<a href="/new">
    <button class="new-button" type="button">新規タスク</button>
</a>

<!-- 絞込み機能 -->
<div class="narrowing-down">
    <form action="/">
        <!-- 日付絞込み -->
        期限　<input type="date" name="start">
         ～　<input type="date" name="end">

        <!-- ステータス絞込み -->
        ステータス
        <select name="status">
            <option value="">すべて</option>
            <option value="1">未着手</option>
            <option value="2">実行中</option>
            <option value="3">ステイ中</option>
            <option value="4">完了</option>
        </select>

        <!-- タスク内容絞込み -->
        タスク内容　<input type="text" name="content">

        <!-- 絞込みボタン -->
        <input type="submit" value="絞り込み">
    </form>
</div>
<table>
    <thead>
    <tr>
        <th>タスク内容</th>
        <th>ステータス</th>
        <th></th>
        <th>タスク期限</th>
        <th></th>
        <th></th>
    <tr>

    </thead>
    <tbody>
    <!-- 一覧表示 -->
    <div class="tasks" th:each="task : ${tasks}">
        <tr>
            <td>
                <!-- タスク内容 -->
                <p th:text="${task.content}">
            </td>
            <form th:action="@{/editStatus/{id}(id=${task.id})}" th:method="put">
                <td>
                    <!-- ステータス -->
                    <select name="status">
                        <option value=""></option>
                        <option value="1" th:selected="${task.status == 1}">未着手</option>
                        <option value="2" th:selected="${task.status == 2}">実行中</option>
                        <option value="3" th:selected="${task.status == 3}">ステイ中</option>
                        <option value="4" th:selected="${task.status == 4}">完了</option>
                    </select>
                </td>
                <td>
                    <!-- 変更ボタン -->
<!--                    <input type="hidden" th:value="task.status">-->
                    <input type="hidden" th:value="${task.content}">
                    <input type="hidden" th:value="${task.limitDate}">
                    <input type="submit" value="変更">
                </td>
            </form>

            <td>
                <!-- タスク期限 -->
                <div class="limitDate">
                    <div th:styleappend="${task.limitDate <= today}? 'background-color : red;'">
                        <p th:text="${#temporals.format(task.limitDate, 'yyyy/MM/dd')}"></p>
                    </div>
                </div>
            </td>
            <td>
                <!-- 編集ボタン -->
                <form th:action="@{/edit/{id}(id=${task.id})}" method="get">
                    <input type="submit" value="編集">
                </form>
            </td>
            <td>
                <!-- 削除ボタン -->
                <form th:action="@{/delete/{id}(id=${task.id})}" th:method="delete">
                    <div class="delete">
                        <input type="submit" value="削除">
                    </div>
                </form>
            </td>
        </tr>
    </div>
    </tbody>
</table>
</body>
</html>